[user]
    # Set your name and email here or use:
    # git config --global user.name "Your Name"
    # git config --global user.email "your.email@example.com"

[core]
    editor = nvim
    autocrlf = input
    safecrlf = true
    pager = bat --style=plain

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = simple
    autoSetupRemote = true

[fetch]
    prune = true

[rebase]
    autoStash = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = zebra

[status]
    showUntrackedFiles = all

[log]
    abbrevCommit = true

[alias]
    # Short aliases
    st = status
    co = checkout
    br = branch
    ci = commit
    ca = commit -a
    cm = commit -m
    cam = commit -am

    # Advanced aliases
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = !gitk

    # Log aliases
    lg = log --oneline --graph --decorate
    lga = log --oneline --graph --decorate --all
    lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lola = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all

    # Show changes
    changes = diff --name-status
    dic = diff --cached
    diffstat = diff --stat

    # Useful shortcuts
    amend = commit --amend
    wip = commit -am "WIP"
    save = !git add -A && git commit -m 'SAVEPOINT'
    undo = reset HEAD~1 --mixed
    wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard

    # Find and list
    find = !git ls-files | grep -i
    grep = grep -Ii

    # List branches
    brs = branch -a

    # Clean up
    cleanup = !git remote prune origin && git gc && git clean -df && git stash clear

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[url "git@github.com:"]
    insteadOf = gh:

[url "git@gitlab.com:"]
    insteadOf = gl:

[url "git@bitbucket.org:"]
    insteadOf = bb:
