/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Rofi Config for Google Search) */

@import "~/.config/rofi/config.rasi"  

/* ---- Window ---- */
window {
	width: 620px;
	height: inherit;
    children: [ "inputbar" ];
}

/* ---- Inputbar ---- */
inputbar {
    children: [ "entry" ];
}

/* ---- Entry ---- */
entry {
	expand: true;
	placeholder: "Search web...";
	horizontal-align: 0.0;
	padding: 0px;
	border-radius: inherit;
}
